@charset "UTF-8";
/************************* Global style Start *************************/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html, body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #00000a;
  background-color: #ffffff;
  letter-spacing: 0px;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/************************* Baack to top buttom *************************/
#scroll {
  position: fixed;
  right: 2%;
  bottom: 6%;
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  display: none;
  z-index: 99999;
  padding: 2px 1px 0 0;
  background: #ffcc00;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
#scroll span {
  display: inline-block;
  content: "";
  width: 9px;
  height: 9px;
  transform: rotate(45deg);
  border-top: 2px solid #EDF1F5;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 2px solid #EDF1F5;
  margin-top: 18px;
}
#scroll:hover {
  background-color: #481DB3;
}

@keyframes river-wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@-webkit-keyframes float-bob {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-20px);
  }
}
/************************* Navbar Section *************************/
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 9;
  min-height: 80px;
  z-index: 999;
  padding: 0 auto;
}
.navbar .logo {
  padding: 15px 0;
  width: 120px;
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.navbar.nav-scroll {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  transition: transform 0.5s;
  transition: transform 0.5s;
  transform: translateY(100px);
}
.navbar.nav-scroll .logo {
  font-size: 32px;
  color: #282828;
}
.navbar.nav-scroll .icon-bar {
  color: #222;
}
.navbar.nav-scroll .nav-link {
  color: #222 !important;
}
.navbar button {
  outline: 0;
}
.navbar button .icon-bar {
  color: #fff;
  font-size: 20px;
  transition: all 0.3s;
}
.navbar button .icon-bar:hover {
  color: #ffcc00;
}
.navbar .navbar-nav .nav-link {
  font-size: 15px;
  font-weight: 600;
  color: #eee;
  letter-spacing: 0.5px;
  margin: 15px 5px;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-link:hover {
  color: #ffcc00;
}
.navbar .navbar-nav .active {
  color: #ffcc00 !important;
}

@media screen and (max-width: 991px) {
  .navbar .navbar-collapse {
    max-height: 340px;
    overflow: auto;
    background: #111;
    text-align: center;
    padding: 10px 0;
  }

  .navbar .nav-link {
    margin: 10px auto !important;
  }

  .nav-scroll .navbar-collapse .nav-link {
    color: #fff !important;
  }

  .nav-scroll .navbar-collapse .active {
    color: #ffcc00 !important;
  }
}
/************************* Single Header Section *************************/
.breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/header/background.jpg);
  background-position: 0px 0px;
  min-height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.breadcrumb .shape-style {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-134deg, #C86DD7 0%, #3023AE 100%);
}
.breadcrumb .shape-style span {
  width: 120px;
  height: 120px;
  border-radius: 100px 130px 100px 315px;
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
}
.breadcrumb .shape-style span:nth-child(1) {
  bottom: auto;
  left: -3%;
  top: -20px;
  width: 150px;
  height: 150px;
}
.breadcrumb .shape-style span:nth-child(2) {
  width: 50px;
  height: 50px;
  top: 15%;
  right: 10%;
}
.breadcrumb .shape-style span:nth-child(3) {
  top: 280px;
  right: 5.66666%;
  background: rgba(255, 255, 255, 0.3);
  width: 50px;
  height: 50px;
}
.breadcrumb .shape-style span:nth-child(4) {
  width: 75px;
  height: 75px;
  top: 320px;
  right: 7%;
  background: rgba(255, 255, 255, 0.15);
}
.breadcrumb .shape-style span:nth-child(5) {
  width: 100px;
  height: 100px;
  top: 38%;
  right: auto;
  left: 1%;
  background: rgba(255, 255, 255, 0.05);
}
.breadcrumb .shape-style span:nth-child(6) {
  top: 65%;
  right: auto;
  left: 35%;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.15);
}
.breadcrumb .shape-style span:nth-child(7) {
  width: 50px;
  height: 50px;
  right: 40%;
  bottom: 45%;
  background: rgba(255, 255, 255, 0.04);
}
.breadcrumb .shape-style span:nth-child(8) {
  width: 100px;
  height: 100px;
  right: 6%;
  bottom: 100px;
  background: rgba(255, 255, 255, 0.2);
}
.breadcrumb .shape-style span:nth-child(9) {
  width: 50px;
  height: 50px;
  right: 5%;
  bottom: 12%;
}
.breadcrumb .shape-style span:nth-child(10) {
  width: 100px;
  height: 100px;
  right: auto;
  bottom: 11%;
  left: 15%;
  background: rgba(255, 255, 255, 0.05);
}
.breadcrumb::before {
  background: linear-gradient(-134deg, #C86DD7 0%, #3023AE 100%);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.breadcrumb h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  line-height: 70px;
}
.breadcrumb h1 span {
  color: #ffcc00;
}
.breadcrumb ul {
  margin-bottom: 0;
  margin-top: 30px;
}
.breadcrumb ul li {
  display: inline-block;
  color: #ffffff;
  margin-right: 15px;
  padding-right: 20px;
  position: relative;
}
.breadcrumb ul li a {
  transition: all 0.5s;
  color: #fff;
  text-decoration: none;
}
.breadcrumb ul li a::after {
  background: #fff;
  content: "";
  height: 13px;
  position: absolute;
  right: 0;
  top: 5px;
  width: 1px;
}
.breadcrumb ul li a:hover {
  color: #ffcc00;
}
.breadcrumb ul li:last-child {
  margin-right: 0;
  padding-right: 0;
}
.breadcrumb .section-shape {
  bottom: -8px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}
.breadcrumb .section-shape .river-wave {
  background: url(../images/wave.svg) repeat-x;
  position: absolute;
  top: -100px;
  width: 6400px;
  height: 100px;
  animation: river-wave 35s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}
.breadcrumb .section-shape .river-wave:nth-child(2) {
  top: -56px;
  animation: river-wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

/************************* Blog Section *************************/
.blog-section {
  margin-top: 5rem;
}
.blog-section .single-news-post {
  margin-bottom: 1rem;
}
.blog-section .single-news-post:hover .img-box img {
  transform: scale(1.05);
}
.blog-section .single-news-post .img-box {
  overflow: hidden;
  cursor: pointer;
}
.blog-section .single-news-post .img-box img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}
.blog-section .single-news-post .text-box {
  padding: 30px;
  padding-top: 25px;
  border: 1px solid #EBEBEF;
}
.blog-section .single-news-post .text-box h3 {
  line-height: 0;
}
.blog-section .single-news-post .text-box h3 a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #2c3e50;
  line-height: 25px;
  transition: all 0.3s;
  margin-bottom: 10px;
  display: block;
}
.blog-section .single-news-post .text-box h3 a:hover {
  color: #481DB3;
}
.blog-section .single-news-post .text-box .meta-info {
  padding-bottom: 13px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ececf0;
  position: relative;
}
.blog-section .single-news-post .text-box .meta-info::after {
  content: "";
  background: #481DB3;
  width: 40px;
  height: 3px;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.blog-section .single-news-post .text-box .meta-info a {
  color: #514A47;
  font-size: 14px;
  transition: all 0.3s;
}
.blog-section .single-news-post .text-box .meta-info a i {
  margin-right: 4px;
  color: #481DB3;
}
.blog-section .single-news-post .text-box .meta-info a:last-child {
  margin-left: 20px;
}
.blog-section .single-news-post .text-box p {
  color: #514A47;
  font-size: 15px;
  line-height: 25px;
}
.blog-section .single-news-post .text-box .read-more {
  display: inline-block;
  font-size: 10px;
  color: #fff;
  padding: 8px 16px;
  line-height: 24px;
  overflow: hidden;
  border-radius: 5px;
  letter-spacing: 2px;
  font-weight: 600;
  background-color: #481DB3;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  z-index: 1;
}
.blog-section .single-news-post .text-box .read-more::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background-color: #ffcc00;
  transition: all 0.3s;
  transform: scale(1, 0.5);
  z-index: -1;
}
.blog-section .single-news-post .text-box .read-more:hover {
  color: #fff;
}
.blog-section .single-news-post .text-box .read-more:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.blog-section .pagination {
  display: block;
  margin-top: 25px;
  text-align: left;
  margin-bottom: 35px;
}
.blog-section .pagination ul li {
  list-style-type: none;
  display: inline-block;
}
.blog-section .pagination ul li a {
  border-color: #c3c0c0 !important;
  border: 1px solid;
  color: #42454e !important;
  text-decoration: none;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 18px;
  display: inline-block;
  background: transparent;
  text-align: center;
  padding: 0;
  font-weight: 400;
  transition: all 0.3s;
}
.blog-section .pagination ul li a:hover {
  background: #ffcc00;
  color: #fff !important;
  border-color: #ffcc00 !important;
}
.blog-section .pagination ul li.active a {
  background: #481DB3 !important;
  color: #fff !important;
  border-color: #481DB3 !important;
}
.blog-section article {
  margin-bottom: 40px;
}
.blog-section article .post-image {
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}
.blog-section article .post-image img {
  width: 100%;
  transition: all 0.5s;
}
.blog-section article .post-image .icon i {
  position: absolute;
  z-index: 2;
  color: #481DB3;
  font-size: 18px;
  width: 38px;
  height: 45px;
  padding-top: 7px;
  text-align: center;
  right: 20px;
  top: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 79%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 79%, 0 100%);
  background-color: #fff;
}
.blog-section article .post-meta {
  background: #fff;
  padding: 11px 0 0px 25px;
  margin-top: -48px;
  z-index: 11;
  position: relative;
  display: block;
  margin-left: 60px;
  transition: all 0.3s;
}
.blog-section article .post-meta ul {
  list-style-type: none;
  padding: 0 3px 10px 0;
  margin: 0;
}
.blog-section article .post-meta ul li {
  display: inline-block;
  padding-right: 15px;
  position: relative;
  color: #1b3452;
  font-weight: 600;
}
.blog-section article .post-meta ul li i {
  padding-right: 7px;
}
.blog-section article p {
  margin-top: 15px;
  color: #444444;
  font-size: 15px;
  line-height: 2em;
  margin-bottom: 25px;
}
.blog-section article p span {
  color: #222;
}
.blog-section article p strong {
  font-weight: 700;
  color: #222;
}
.blog-section article p img {
  float: left;
  margin: 0.375em 1.75em 0.375em 0;
  max-width: 100%;
  height: auto;
}
.blog-section article h4 {
  font-size: 25px;
  margin-bottom: 20px;
  font-family: "Titillium Web";
  font-weight: 600;
  color: #020d26;
}
.blog-section article .blog-images {
  display: block;
}
.blog-section .widget-recent-post {
  margin-bottom: 44px;
}
.blog-section .widget-recent-post h3 {
  font-size: 30px;
  position: relative;
  font-family: "Poppins", sans-serif;
  line-height: 55px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.blog-section .widget-recent-post h3 span {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(-134deg, #C86DD7 0%, #3023AE 100%);
}
.blog-section .widget-recent-post h3::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  width: 30px;
  height: 2px;
  background-color: #481DB3;
  transition: all 0.3s ease;
}
.blog-section .widget-recent-post h3::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 2px;
  width: 15px;
  height: 2px;
  background-color: #481DB3;
  transition: all 0.3s ease;
}
.blog-section .widget-recent-post ul {
  margin: 0;
  padding: 0;
}
.blog-section .widget-recent-post ul li {
  list-style-type: none;
  padding: 15px 0;
  margin: 0;
}
.blog-section .widget-recent-post ul li a {
  color: #1b3452;
  font-size: 15px;
  line-height: 21px;
  display: block;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
}
.blog-section .widget-recent-post ul li a img {
  display: block;
  width: 85px;
  height: 80px;
  float: left;
  margin-right: 18px;
}
.blog-section .widget-recent-post ul li a:hover {
  color: #481DB3;
}
.blog-section .widget-recent-post ul li span {
  display: block;
  font-size: 13px;
}

/************************* Footer Section *************************/
footer {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
footer::after {
  position: absolute;
  content: "";
  left: -1px;
  right: -1px;
  bottom: -1px;
  top: 0;
  z-index: -1;
  background-image: linear-gradient(-134deg, #C86DD7 0%, #3023AE 100%);
}
footer .shape-style span {
  width: 120px;
  height: 120px;
  border-radius: 100px 130px 100px 315px;
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
}
footer .shape-style span:nth-child(1) {
  bottom: auto;
  left: -3%;
  top: -20px;
  width: 150px;
  height: 150px;
}
footer .shape-style span:nth-child(2) {
  width: 50px;
  height: 50px;
  top: 15%;
  right: 10%;
}
footer .shape-style span:nth-child(3) {
  width: 75px;
  height: 75px;
  top: 320px;
  right: 7%;
  background: rgba(255, 255, 255, 0.15);
}
footer .shape-style span:nth-child(4) {
  width: 100px;
  height: 100px;
  top: 38%;
  right: auto;
  left: 1%;
  background: rgba(255, 255, 255, 0.05);
}
footer .shape-style span:nth-child(5) {
  width: 50px;
  height: 50px;
  right: 40%;
  bottom: 45%;
  background: rgba(255, 255, 255, 0.04);
}
footer .shape-style span:nth-child(6) {
  width: 100px;
  height: 100px;
  right: 6%;
  bottom: 100px;
  background: rgba(255, 255, 255, 0.2);
}
footer .shape-style span:nth-child(7) {
  width: 50px;
  height: 50px;
  right: 5%;
  bottom: 12%;
}
footer .shape-style span:nth-child(8) {
  width: 100px;
  height: 100px;
  right: auto;
  bottom: 11%;
  left: 15%;
  background: rgba(255, 255, 255, 0.05);
}
footer .wave-img {
  transform: rotateX(180deg);
}
footer .footer-top h2 {
  position: relative;
  color: #ffffff;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.3em;
  margin-bottom: 30px;
}
footer .footer-top h2 span {
  font-weight: 300;
}
footer .footer-top .download-app-button {
  position: relative;
  display: block;
  overflow: hidden;
  transition: all 0.3s ease-in;
}
footer .footer-top .download-app-button .download-btn {
  border: 1px solid #fff;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  color: #fff;
  align-items: center;
  float: left;
  padding: 5px 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  text-decoration: none;
  transition: all 0.3s;
}
footer .footer-top .download-app-button .download-btn:hover, footer .footer-top .download-app-button .download-btn.active {
  background-color: #fff;
}
footer .footer-top .download-app-button .download-btn:hover p, footer .footer-top .download-app-button .download-btn.active p {
  color: #281483;
}
footer .footer-top .download-app-button .download-btn:hover i, footer .footer-top .download-app-button .download-btn.active i {
  background: linear-gradient(to bottom, #281483 15%, #8f6ed5 70%, #d782d9 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .footer-top .download-app-button .download-btn i {
  font-size: 28px;
  line-height: 28px;
  margin-right: 10px;
  color: #fff;
}
footer .footer-top .download-app-button .download-btn p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
}
footer .footer-top .download-app-button .download-btn p small {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}
footer .footer-top .inner-column h2 {
  position: relative;
  color: #ffffff;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.3em;
  margin-bottom: 30px;
  text-align: right;
}
footer .footer-top .inner-column h2 span {
  font-weight: 300;
}
footer .footer-top .inner-column .subscribe-form form {
  position: relative;
}
footer .footer-top .inner-column .subscribe-form form input {
  display: block;
  width: 100%;
  height: 60px;
  font-size: 14px;
  padding: 14px 40px;
  border-radius: 50px;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  outline: 0;
  border: none;
}
footer .footer-top .inner-column .subscribe-form form button {
  position: absolute;
  right: 2px;
  top: 2px;
  outline: 0;
  height: 56px;
  color: #00004f;
  font-weight: 600;
  border: none;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  background: #ffcc00;
  border-radius: 50px;
  padding: 15px 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
footer .widgets-section {
  padding-top: 60px;
  padding-bottom: 25px;
}
footer .widgets-section .footer-widget h2 {
  position: relative;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 22px;
  letter-spacing: 1px;
}
footer .widgets-section .footer-widget .logo img {
  width: 40%;
  margin-bottom: 30px;
}
footer .widgets-section .footer-widget p {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.7em;
  margin-bottom: 20px;
}
footer .widgets-section .footer-widget .footer-info {
  list-style-type: none;
}
footer .widgets-section .footer-widget .footer-info li {
  position: relative;
  padding-left: 25px;
  font-size: 15px;
  margin-bottom: 12px;
  line-height: 1.8em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.95);
}
footer .widgets-section .footer-widget .footer-info li i {
  position: absolute;
  content: "";
  left: 0px;
  top: 7px;
  color: #fdd415;
  font-size: 14px;
}
footer .widgets-section .footer-widget .list {
  list-style-type: none;
}
footer .widgets-section .footer-widget .list li a {
  position: relative;
  font-size: 15px;
  padding-left: 25px;
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
  text-decoration: none;
}
footer .widgets-section .footer-widget .list li a:hover {
  color: #ffcc00;
}
footer .widgets-section .footer-widget .list li a::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  line-height: 1em;
  font-family: "FontAwesome";
}
footer .widgets-section .footer-widget.twitter-widget .tweet-block {
  position: relative;
  margin-bottom: 20px;
}
footer .widgets-section .footer-widget.twitter-widget .tweet-block p {
  position: relative;
  font-size: 14px;
  line-height: 1.8em;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.95);
}
footer .widgets-section .footer-widget.twitter-widget .tweet-block p i {
  color: #0397ff;
  font-size: 20px;
  margin-right: 8px;
}
footer .widgets-section .footer-widget.twitter-widget .tweet-block .author-name {
  position: relative;
  color: #ffcc00;
  font-size: 14px;
  font-style: italic;
}
footer .footer-bottom .inner-content {
  padding: 22px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}
footer .footer-bottom .inner-content p {
  position: relative;
  color: #ffffff;
  font-size: 14px;
}
footer .footer-bottom .inner-content p span {
  color: #ffcc00;
}
footer .footer-bottom .inner-content .social-icon {
  list-style-type: none;
  text-align: right;
}
footer .footer-bottom .inner-content .social-icon li {
  position: relative;
  margin-left: 18px;
  display: inline-block;
}
footer .footer-bottom .inner-content .social-icon li a {
  position: relative;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}
footer .footer-bottom .inner-content .social-icon li a:hover {
  color: #ffcc00;
}

@media only screen and (max-width: 991px) {
  footer .footer-top h2 {
    text-align: left !important;
    font-size: 35px !important;
  }
  footer .footer-top .download-app-button {
    margin-bottom: 1.5rem;
  }
  footer .footer-top .inner-column h2 {
    text-align: left !important;
    font-size: 35px !important;
  }
}

/*# sourceMappingURL=blog.css.map */
