@charset "UTF-8";

// font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #00000a;
    background-color: #ffffff;
    letter-spacing: 0px;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/************************* Baack to top buttom *************************/
#scroll{
    position: fixed;
    right: 2%;
    bottom: 6%;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    display: none;
    z-index: 99999;
    padding: 2px 1px 0 0;
    background: $primary-color;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    span{
        display: inline-block;
        content: "";
        width: 9px;
        height: 9px;
        transform: rotate(45deg);
        border-top: 2px solid #EDF1F5;
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-left: 2px solid #EDF1F5;
        margin-top: 18px;
    }
    &:hover{
        background-color: $secondary-color;
    }
}

@keyframes river-wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}
@-webkit-keyframes float-bob {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(-20px);
    }
}