.services-section{
	margin-bottom: 2rem;
	.sec-title{
		margin-bottom: 60px;
		text-align: center;
		img{
			margin-bottom: 25px;
			width: 5%;
		}
		h2{
			position: relative;
			color: #1b3452;
			font-size: 36px;
			font-weight: 500;
			line-height: 1.4em;
		}
		p{
			position: relative;
			margin-top: 28px;
			color: #444444;
			font-size: 17px;
			line-height: 1.9em;
		}
	}
	.services-box{
		position: relative;
		margin-bottom: 40px;
		text-align: center;
		transition: 0.5s;
		padding: 35px 30px 35px;
		z-index: 1;
		overflow: hidden;
		&::after{
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $secondary-color;
			-webkit-transform: scaleY(0);
			transform: scaleY(0);
			-webkit-transform-origin: 50% 0;
			transform-origin: 50% 0;
			transition: transform 0.5s ease-out;
		}
		&::before{
			position: absolute;
		    content: '';
		    left: -10px;
		    top: -9px;
		    width: 250px;
		    height: 250px;
		    z-index: 1;
		    margin-left: -90px;
		    margin-top: -90px;
		    border-radius: 50%;
		    transition: all 300ms ease;
		    transform: scale(0.2,0.2);
		    background-color: rgba(255,255,255,0.10);
		}
		&:hover::before{
			transform: scale(1,1);
			transition-delay: 120ms;
		}
		&:hover::after{
			-webkit-transform: scaleY(1);
			transform: scaleY(1);
			-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
			transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
		}
		&:hover{
			a{
				color: #fff;
			}
			p{
				color: #fff;
			}
		}
		&:hover .icon {
			color: #fff !important;
		}
		.icon{
			position: relative;
			font-size: 40px;
			line-height: 1em;
			color: #818181;
			z-index: 1;
			margin-bottom: 18px;
			transition: all .3s ease;
		}
		h3{
			a{
				position: relative;
				color: #444444;
				z-index: 1;
				font-size: 20px;
				font-weight: 500;
				line-height: 1.4em;
				margin-bottom: 12px;
				text-decoration: none;
				transition: all .3s ease;
			}
		}
		p{
			position: relative;
			color: #515151;
			z-index: 1;
			font-size: 14px;
			line-height: 1.9em;
			transition: all .3s ease;
		}
	}
}